.show {
  display: block;
  transition: all 0.3s ease;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

.close:focus {
  outline: none;
}

.total-title {
  margin-right: 10px !important;
}

.clock-cart {
  width: 80px;
}

.table-light td:not(:nth-child(1)) {
  vertical-align: middle;
}

.fa-trash-alt:before {
  font-size: 25px;
}
.empty-cart-wrapper {
  padding-top: 10px;
  text-align: center;
}

.empty {
  font-weight: 700;
  font-size: 20px;
  color: #9ca0a8;
}
.i-cart::before {
  color: #eb6864b5;
}
