.clock-img {
  height: 80px;
}

.fa-star:before {
  color: gold;
}

.btns-actions-wrapper {
  display: flex;
  width: 210px;
  justify-content: space-around;
  margin: 0 auto;
}

.btn-hide {
  display: none;
}
