img {
  height: auto;
  max-width: 100%;
}

.product {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  max-width: 265px;
  overflow: hidden;
  padding: 25px 15px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px;
  margin-left: 40px;
}

.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
  margin-bottom: 5px;
  height: 200px;
}

.product-title a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.product-title a:hover {
  color: #eb6864;
}

.product-title {
  margin-top: 13px;
  margin-bottom: 6px;
}

.product-vendor,
.product-collection {
  max-height: 60px;
  overflow: hidden;
  margin-bottom: 0;
}

.product-price {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  color: #d51e08;
  font-size: 18px;
  font-weight: 500;
}

.add-cart .afterClick {
  display: none;
}

.add-cart:focus .beforeClick {
  display: none;
}

.add-cart:focus .afterClick {
  display: block;
  color: #dc3545;
}

.btn-primary:focus {
  background-color: #ffedaf;
  border: none;
  outline: none;
}

