.table-container {
  background-color: white;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.add-clock {
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.btn-add.btn-add {
  margin-top: 10px;
  margin-bottom: 20px;
  float: right;
}

.pagination__admin-items {
  position: absolute;
  left: 45%;
  margin-top: 20px;
}
